<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/webuploader/webuploader.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/test.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap/bootstrap.min.css">
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/bootstrap-treeview.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/lanrenzhijia.css">
</head>
<body onclick="Mychange(event)" style="background-color:#BFEFFF;background-position: 50% center; background-repeat: no-repeat; background-size: cover;">
	<H2 align="center">Welcome to SupFile</H2>
	<H5 align="right">name:{{ current_user.username }} <a href="/logout" class="btn">Logout</a><a href="/reset" class="btn">Change Password</a></H5>
	<div id="mainFrame">
		<div id="header" align="center">
            <button id="back" class="btn btn-primary btn-large">Go Back</button>
            <button id="download" class="btn btn-primary btn-large">DownLoad</button>
			<button id="move" class="btn btn-primary btn-large theme-login">Move</button>
            <button id="newFolder" class="btn btn-primary btn-large">New Folder</button>
            <button id="goToNext" class="btn btn-primary btn-large">Go</button>
            <button id="shareLink" class="btn btn-primary btn-large">Share</button>
            <button id="getshareLink" class="btn btn-primary btn-large">Get Shared file</button>
            <button id="delete" class="btn btn-primary btn-large">Delete</button>
            <button id="rename" class="btn btn-primary btn-large">Rename</button>
            <div style="width: 700px;margin-top: 5px; margin-left: auto; margin-right: auto; border: 2px dashed #707070;">
		        <div id="picker" style="float:left; margin: 5px;">Choose</div>
		        <div id="progress" class="progress" style="width:500px;float:left;margin:10px 3px 3px 20px;">
		            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;"></div>
		        </div>
		        <div style="clear:both;"></div>
	    	</div>
		</div>
		<div id="framebody" style="margin-top: 10px; margin-top: 5px;">
			<table id="filetable" width="80%" style="cursor:default;"  align="center" border="1" cellpadding="0" cellspacing="0">
				<thead id="filetablehead">
					<tr style="background-color:#999999;border-bottom:2px solid black;height:25px; font-size:20px;" align="center" >
						<th style="text-align: center;">File Name</th>
						<th style="text-align: center;">File Size</th>
						<th style="text-align: center;">File Type</th>
					</tr>
				</thead>
				<tbody id="filetablebody" onMouseOver="Myover(event)" onClick="Mychange(event)"   onMouseOut="Myout(event)">
				</tbody>
			</table>
		</div>
    	<div class="theme-popover" style="display: none;">
	    	<div class="theme-poptit">
	          	<a href="javascript:;" title="close" class="close">×</a>
	        	<h3>Please choose a destination</h3>
	     	</div>
	        <div class="theme-popbod" style="overflow:auto; height: 230px">
	        	<div id="tree" style="overflow:auto;margin-top:-40px; height:200px;">
	        	</div>
	        </div>
	        <div align="center"><button id="clickSure" class="btn btn-primary btn-large">Save</button></div>
		</div>
		<div class="theme-popover-mask" style="display: none;"></div>
    </div>
</body>
<script type="text/javascript">
    
    var selectedItem = 0;
    var globalclickvalue = 0;
    var clickTreeFlag = 1;
    var remainSize = 0;


    function Mychange(event) {  
	    var oObj = event.srcElement ? event.srcElement : event.target
	    if(oObj.tagName.toLowerCase() == "td"){     
	        var oTr = oObj.parentNode;     
	        for(var i=1; i<document.all.filetable.rows.length; i++)   {     
	            document.all.filetable.rows[i].style.backgroundColor =  "";
	            document.all.filetable.rows[i].tag = false;
	        }
	    	oTr.style.backgroundColor = "#D9D9D9";
	        oTr.tag = true;
	    }else{
	    	var oTr = oObj.parentNode;     
	        for(var i=1; i<document.all.filetable.rows.length; i++)   {     
	            document.all.filetable.rows[i].style.backgroundColor =  "";
	            document.all.filetable.rows[i].tag = false;
	        }
	    }
	}
	function Myout(event){
	    var oObj = event.srcElement ? event.srcElement : event.target;  
	    if(oObj.tagName.toLowerCase() == "td"){  
	        var oTr = oObj.parentNode;  
	        if(!oTr.tag) oTr.style.backgroundColor = "";  
	    }  
	}
	function Myover(event){
	    var oObj = event.srcElement ? event.srcElement : event.target;  
	    if(oObj.tagName.toLowerCase() == "td"){     
	    var oTr = oObj.parentNode;  
	    if(!oTr.tag) oTr.style.backgroundColor = "#EAEAEA";  
	    }
	}

	function CreateMyElement(){
    	var myTr = document.createElement('tr');

    	var subTd = document.createElement('td');
    	subTd.setAttribute("class","filename");
    	subTd.setAttribute("style","border-bottom:1px   solid   black; border-right:1px solid black; height:23px;");
    	myTr.appendChild(subTd);

    	var subTd = document.createElement('td');
    	subTd.setAttribute("class","filesize");
    	subTd.setAttribute("style","border-bottom:1px   solid   black; border-right:1px solid black; height:23px;");
    	myTr.appendChild(subTd);

    	var subTd = document.createElement('td');
    	subTd.setAttribute("class","filetype");
    	subTd.setAttribute("style","border-bottom:1px   solid   black; border-right:1px solid black; height:23px;");
    	myTr.appendChild(subTd);
    	return myTr;
	}

	function AddMyElement(parmId,parmName,parmSize,parmType,fatherid, fatherid2, fileUfdid){
		if(fatherid == null){
			fatherid = -1;
		}
		if(fatherid2 == null){
			fatherid2 = -1;
		}
		//console.log(fatherid);
		var p = CreateMyElement()
		p.setAttribute("name",parmId+" "+parmType+" "+fatherid+" "+fileUfdid);
		var filename = p.querySelector(".filename");
		filename.textContent =parmName;
		var filesize = p.querySelector(".filesize");
		filesize.textContent =parmSize;
		var filetype = p.querySelector(".filetype");
		filetype.textContent =parmType;
		$("#filetablebody").append(p);
		$("#filetablebody").attr("name",fatherid+" "+fatherid2);
	}

	function UpdateUploader(size){
		var task_id = WebUploader.Base.guid(); // 产生文件唯一标识符task_id
        var uploader = WebUploader.create({
            swf: './static/webuploader/Uploader.swf',
            server: '{{ url_for("upload_part") }}', // 上传分片地址
            pick: '#picker',
            disableGlobalDnd: true,
            dnd: '#filetablebody',
            auto: true,
            chunked: true,
            chunkSize: 20 * 1024 * 1024,
            chunkRetry: 3,
            fileSizeLimit: parseInt(size)*1024,
            threads: 1,
            duplicate: true,
            formData: { // 上传分片的http请求中一同携带的数据
                task_id: task_id,
            },
        });
        //alert(parseInt(remainSize)*1024);

        uploader.on('startUpload', function() { // 开始上传时，调用该方法
            $('#progress').show();
            $('.progress-bar').css('width', '0%');
            $('.progress-bar').text('0%');
            $('.progress-bar').removeClass('progress-bar-danger progress-bar-success');
            $('.progress-bar').addClass('active progress-bar-striped');
        });

        uploader.on('uploadProgress', function(file, percentage) { // 一个分片上传成功后，调用该方法
            $('.progress-bar').css('width', percentage * 100 - 1 + '%');
            $('.progress-bar').text(Math.floor(percentage * 100 - 1) + '%');
        });

        uploader.on('uploadSuccess', function(file) { // 整个文件的所有分片都上传成功后，调用该方法
            //var data = { 'task_id': task_id, 'filename': file.name,'fatherid': $("#filetablebody").attr("name").split(" ")[1]};
            //$.get('{{ url_for("upload_success") }}', data);
            $.ajax({
			    url: '{{ url_for("upload_success") }}',
				type: 'GET',
				async: true,
				dataType: 'json',
				data: { 'task_id': task_id, 'filename': file.name,'fatherid': $("#filetablebody").attr("name").split(" ")[1]},
			    success: function (){
			    	//console.log("success");
			    	$.ajax({
					    url: '/file/nextdir',
						type: 'POST',
						async: true,
						dataType: 'json',
						data: {'param1': $("#filetablebody").attr("name").split(" ")[1]},
					    success: function (jsonContent){
					    	$("#filetablebody").children().remove();
							$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
							for(var i in jsonContent){
								if(i != "father"){
									if(jsonContent[i]["type"] == "f"){
										AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
									}else{
										AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
									}
								}
							}
					    }
					});
				}
			});
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text('100%');
            $('.progress-bar').addClass('progress-bar-success');
            $('.progress-bar').text('uplocad success');
        });

        uploader.on('uploadError', function(file) { // 上传过程中发生异常，调用该方法
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text('100%');
            $('.progress-bar').addClass('progress-bar-danger');
            $('.progress-bar').text('upload failure');
        });

        uploader.on("error",function (type){
	        if(type == "Q_EXCEED_SIZE_LIMIT"){
	        	alert("file size is too large");
	        }
     	});

        uploader.on('uploadComplete', function(file) { // 上传结束，无论文件最终是否上传成功，该方法都会被调用
        	$('.progress-bar').removeClass('active progress-bar-striped');
  /*
        	$.ajax({
			    url: '/file/nextdir',
				type: 'POST',
				async: true,
				dataType: 'json',
				data: {'param1': $("#filetablebody").attr("name").split(" ")[1]},
			    success: function (jsonContent){
			    	$("#filetablebody").children().remove();
					$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
					for(var i in jsonContent){
						if(i != "father"){
							if(jsonContent[i]["type"] == "f"){
								AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
							}else{
								AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
							}
						}
					}
			    }
			});*/
        });
	}


	$.ajax({
	    url: '/file/nextdir',
		type: 'POST',
		async: true,
		dataType: 'json',
		data: {'param1': '-1'},
	    success: function (jsonContent) {
	    	remainSize = jsonContent["father"]["remainSize"];
	    	UpdateUploader(remainSize);
			$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
			//console.log(jsonContent);
			for(var i in jsonContent){
				//console.log(i);
				if(i != "father"){
					if(jsonContent[i]["type"] == "f"){
						AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
					}else{
						AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
					}
				}
			}
	    }
	});

	document.querySelector("#goToNext").addEventListener("click", function(){
		tempState = 0;
		//console.log("goToNext");
		var fileId = "";
		var filetype = ""
		//var oObj = window.event.srcElement;
	    for(var i=1; i<document.all.filetable.rows.length; i++){
            if(document.all.filetable.rows[i].tag == true){
            	var tempTr = document.all.filetable.rows[i];
            	fileId = tempTr.getAttribute("name").split(" ")[0];
            	filetype = tempTr.getAttribute("name").split(" ")[1];
            }
	    }
	    //console.log(fileId);
	    //console.log(filetype);
	    if(filetype!=""){
		    if(filetype == "folder"){
		    	$.ajax({
				    url: '/file/nextdir',
					type: 'POST',
					async: true,
					dataType: 'json',
					data: {'param1': fileId},
				    success: function (jsonContent){
				    	$("#filetablebody").children().remove();
				    	$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
						for(var i in jsonContent){
							if(i != "father"){
								if(jsonContent[i]["type"] == "f"){
									AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
								}else{
									AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
								}
							}
						}
				    }
				});
		    }else{
		    	window.location.href='/file/view?fileId='+fileId+'&filetype='+filetype;
		    }
		}else{
			alert("you didn't select anything");
		}
	});



	document.querySelector("#back").addEventListener("click", function(){
		tempState = 0;
		fileId = $("#filetablebody").attr("name").split(" ")[0];
	    //console.log(fileId);
	    if(fileId != "-1"){
	    	$.ajax({
			    url: '/file/nextdir',
				type: 'POST',
				async: true,
				dataType: 'json',
				data: {'param1': fileId},
			    success: function (jsonContent){
			    	$("#filetablebody").children().remove();
					for(var i in jsonContent){
						if(i != "father"){
							if(jsonContent[i]["type"] == "f"){
								AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
							}else{
								AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
							}
						}
					}
			    }
			});
		}
	});
	/*
	*		this code is used to mkdir
	*
	*/
	document.querySelector("#newFolder").addEventListener("click", function(){
		reciveState = 0
		var tempid = $("#filetablebody").attr("name").split(" ")[1];
		var upperId =$("#filetablebody").attr("name").split(" ")[0];
		var code = prompt("Write your folder name");
		if(code != null && code != ""){
			$.ajax({
			    url: '/home/mkdir',
				type: 'POST',
				async: true,
				dataType: 'json',
				data: {'fatherId': tempid,"folderName":code},
			    success: function (jsonContent){
			    	$.ajax({
					   	url: '/file/nextdir',
						type: 'POST',
						async: true,
						dataType: 'json',
						data: {'param1': tempid},
					    success: function (jsonContent){
					    	$("#filetablebody").children().remove();
							$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
							for(var i in jsonContent){
								if(i != "father"){
									if(jsonContent[i]["type"] == "f"){
										AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
									}else{
										AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
									}
								}
							}
					    }
					});
			    }
			});
		}
	});

	
	document.querySelector("#download").addEventListener("click", function(){
		tempState = 0;
		//console.log("goToNext");
		var fileId = "";
		var filetype = "";
		var filename = "";
		var ufdid = "";
		//var oObj = window.event.srcElement;
	    for(var i=1; i<document.all.filetable.rows.length; i++){
            if(document.all.filetable.rows[i].tag == true){
            	var tempTr = document.all.filetable.rows[i];
            	fileId = tempTr.getAttribute("name").split(" ")[0];
            	filetype = tempTr.getAttribute("name").split(" ")[1];
            	ufdid = tempTr.getAttribute("name").split(" ")[3];
            	filename = tempTr.querySelector(".filename").textContent;
            }
	    }
	    if(filetype != ""){
		    if(filetype != "folder"){
		    	window.location.href="/file/download/"+filename+"?ufdid="+ufdid;
		    }else{
		    	$.ajax({
		            url: '/file/predownload',
					type: 'POST',
					async: true,
					dataType: 'json',
					data: {'ufdid': ufdid},
		            success: function (result) {
		            	//console.log(result);
		            	var temptempfilename = result["filename"]
		            	var temptempfilepath = result["path"]
		            	//console.log(temptempfilename);
		            	//console.log(temptempfilepath);
		            	window.location.href="/file/downloadzip/"+temptempfilename+"?path="+temptempfilepath;
	            	}
	        	});
		    }
		}else{
			alert("You did not select anything");
		}
	});
	document.querySelector("#clickSure").addEventListener("click", function(){
		if(globalclickvalue == 0){
			alert("You didn't select anything");
			return;
		}
		$.ajax({
            url: '/home/move',
			type: 'POST',
			async: true,
			dataType: 'json',
			data: {'folderId': selectedItem,'newFatherId': globalclickvalue},
            success: function (result) {
            	//console.log(result);
            	if(result["moveStatus"] == "success"){
            		//alert("Move Success");
            		$.ajax({
					   	url: '/file/nextdir',
						type: 'POST',
						async: true,
						dataType: 'json',
						data: {'param1': '-1'},
					    success: function (jsonContent){
					    	$("#filetablebody").children().remove();
							$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
							//console.log(jsonContent);
							for(var i in jsonContent){
								//console.log(i);
								if(i != "father"){
									if(jsonContent[i]["type"] == "f"){
										AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
									}else{
										AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
									}
								}
							}
					    }
					});
            	}else{
            		alert("Fail!! they are in the same dirctory");
            	}
            }
        });
		$('.theme-popover-mask').fadeOut(100);
		$('.theme-popover').slideUp(200);
		resetTree();
		globalclickvalue = 0;
	});

	document.querySelector("#shareLink").addEventListener("click", function(){
		tempState = 0;
		var fileId = "";
		//var oObj = window.event.srcElement;
	    for(var i=1; i<document.all.filetable.rows.length; i++){
            if(document.all.filetable.rows[i].tag == true){
            	var tempTr = document.all.filetable.rows[i];
            	fileId = tempTr.getAttribute("name").split(" ")[3];
            }
	    }
	    //console.log(fileId);
	    $.ajax({
	        url: '/file/share',
			type: 'POST',
			async: true,
			dataType: 'json',
			data: {'ufdid': fileId},
	        success: function (result) {
	        	alert("shareLink: "+"http://supfile.com/file/share?encryptUfdid="+result["encryptedId"]);
	        }
	    });
	});

	document.querySelector("#getshareLink").addEventListener("click", function(){
		var tempsharelink=prompt("Please input your link");
		if (tempsharelink!=null && tempsharelink!="")
		{
			if(tempsharelink.split("http://supfile.com/file/share?encryptUfdid=")[0] == "" && tempsharelink.split("http://supfile.com/file/share?encryptUfdid=")[1]!=""){
			    $.ajax({
		            url: '/file/share',
					type: 'GET',
					async: true,
					dataType: 'json',
					data: {'encryptUfdid': tempsharelink.split("http://supfile.com/file/share?encryptUfdid=")[1]},
		            success: function (result) {
		            	if(result["shareStatus"] == "success"){
		            		alert("receive Success");
		            		reciveState = 0;
		            		var rowData = $.ajax({
								url: '/file/nextdir',
								type: 'POST',
								async: true,
								dataType: 'json',
								data: {'param1': "-1"},
							})
							.done(function() {
								$("#filetablebody").children().remove();
								var jsonContent = JSON.parse(rowData.responseText);
								remainSize = jsonContent["father"]["remainSize"];
								$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
								for(var i in jsonContent){
									if(i != "father"){
										if(jsonContent[i]["type"] == "f"){
											AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
										}else{
											AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
										}
									}
								}
							})
							.fail(function() {

							})
							.always(function() {
								//console.log("complete");
							});
		            	}
		            	else if(result["shareStatus"] == "failure"){
                            alert("Not enough space!");
                        }
		            }
				});
			}
		}
	});

	document.querySelector("#delete").addEventListener("click", function(){
		
		reciveState = 0;
		tempState = 0;
		var fileId = "";
		//var oObj = window.event.srcElement;
	   	for(var i=1; i<document.all.filetable.rows.length; i++){
            if(document.all.filetable.rows[i].tag == true){
            	var tempTr = document.all.filetable.rows[i];
            	fileId = tempTr.getAttribute("name").split(" ")[3];
            }
	    }
	    //console.log(fileId);
	    if(fileId!=""){
		    $.ajax({
		        url: '/home/delete',
				type: 'POST',
				async: true,
				dataType: 'json',
				data: {'deleteId': fileId},
		        success: function (result) {
		        	$.ajax({
				        url: '/file/nextdir',
						type: 'POST',
						async: true,
						dataType: 'json',
						data: {'param1': $('#filetablebody').attr('name').split(" ")[1]},
				        success: function (jsonContent) {
				        	remainSize = jsonContent["father"]["remainSize"];
				        	UpdateUploader(remainSize);
				        	//alert(remainSize);
				        	$("#filetablebody").children().remove();
							$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
							for(var i in jsonContent){
								if(i != "father"){
									if(jsonContent[i]["type"] == "f"){
										AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
									}else{
										AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
									}
								}
							}
				    	}
					});
		    	}
			});
		}else{
			alert("You didn't select anything");
		}
	});

	document.querySelector("#rename").addEventListener("click", function(){
		reciveState = 0;
		tempState = 0;
		var fileId = "";
		//var oObj = window.event.srcElement;
	    for(var i=1; i<document.all.filetable.rows.length; i++){
            if(document.all.filetable.rows[i].tag == true){
            	var tempTr = document.all.filetable.rows[i];
            	fileId = tempTr.getAttribute("name").split(" ")[3];
            }
	    }
		if(fileId == ""){
			alert("you didn't select anything");
			return;
		}
		//console.log(fileId);
		var code = prompt("Write your new file name");
		if(code != null && code != ""){
			var rowData = $.ajax({
				url: '/file/rename',
				type: 'POST',
				async: false,
				dataType: 'json',
				data: {'folderid': fileId,"name":code}
			})
			.done(function() {
			})
			.fail(function() {
			})
			.always(function() {
				var rowData = $.ajax({
					url: '/file/nextdir',
					type: 'POST',
					async: true,
					dataType: 'json',
					data: {'param1': $('#filetablebody').attr('name').split(" ")[1]},
				})
				.done(function() {
					$("#filetablebody").children().remove();
					var jsonContent = JSON.parse(rowData.responseText);
					$("#filetablebody").attr("name",jsonContent["father"]["fatherUfdid"] +" "+jsonContent["father"]["fatherId"]);
					for(var i in jsonContent){
						if(i != "father"){
							if(jsonContent[i]["type"] == "f"){
								AddMyElement(jsonContent[i]["fileid"],jsonContent[i]["filename"],jsonContent[i]["size"],jsonContent[i]["fileType"],jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["fileUfdid"]);
							}else{
								AddMyElement(jsonContent[i]["ufdid"],jsonContent[i]["dirName"],"/","folder",jsonContent["father"]["fatherUfdid"],jsonContent["father"]["fatherId"],jsonContent[i]["ufdid"]);
							}
						}
					}
				})
				.fail(function() {

				})
				.always(function() {
					//console.log("complete");
				});
			});
		}
	});

	function getTree() {
        var data = [
            {
                text: "/",
                fatherid: "-1",
                nodes:[]
            }
        ];
        return data;
   	}
   	function resetTree(){
	   	$("#tree").treeview({
	        data: getTree(),
	        showIcon: false,
	        showCheckbox: false,
	        onhoverColor: "#E8E8E8",
	        showBorder: false,
	        showTags: true,
	        highlightSelected: true,
	        highlightSearchResults: false,
	        selectedBackColor: "#8D9CAA",
	        onNodeSelected: function(event, data) {
            	globalclickvalue = data.fatherid;
	        },
	        onNodeUnselected: function(event, data){
	        	globalclickvalue = 0;
	        },
	        onNodeExpanded: function(event, data) {
	        	if (data.nodes === undefined || data.nodes === null) {
	               return ;
	            }
	            if(data.nodes.length != 0){
	            	return ;
	            }
	            $.ajax({
	                url: '/file/nextdir',
					type: 'POST',
					async: true,
					dataType: 'json',
					data: {'param1': data.fatherid},
	                success: function (result) {
	                	//console.log(result);
	                    for(var i in result){
	                    	if(i!="father"){
	                    		if(result[i]["type"] == "d"){
	                    			$("#tree").treeview("addNode",
	                        		[
	                            		data.nodeId,
	                            		{ node: { text: result[i]["dirName"], fatherid: result[i]["ufdid"],nodes:[] }, silent: true }
	                        		]);
	                    		}
	                    	}
	                    }
	                }
	            });
	   		}

	    });
   	}


    jQuery(document).ready(function($) {
		$('.theme-login').click(function(){
			var fileId = "";
			var filetype = ""
		    for(var i=1; i<document.all.filetable.rows.length; i++){
	            if(document.all.filetable.rows[i].tag == true){
	            	var tempTr = document.all.filetable.rows[i];
	            	fileId = tempTr.getAttribute("name").split(" ")[3];
	            	filetype = tempTr.getAttribute("name").split(" ")[1];
	            }
		    }
		    if(filetype == ""){
		    	alert("you didn't select anything");
		    	selectedItem = 0;
		    	return;
		    }
		    selectedItem = fileId;
			resetTree();
			globalclickvalue = 0;
			$('.theme-popover-mask').fadeIn(100);
			$('.theme-popover').slideDown(200);
		});
		$('.theme-poptit .close').click(function(){
			$('.theme-popover-mask').fadeOut(100);
			$('.theme-popover').slideUp(200);
			resetTree();
			globalclickvalue = 0;
			selectedItem = 0;
		});
	});
</script>
</html>
